.banner {
    height: 75vh;
    align-content: center;
    position: relative;
    .bold {
        font-weight: 700;
    }
    .content {
        text-align: center;
        z-index: 1;/*z-index es un valor para poner el texto encima de la imagen preguntar al chatgtp*/
        position: relative;
    }
    .image {
        background-image: url('../assets/app/catalog.jpg');
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0.3;
    }
    
    
}
