.header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between; /* esto es lo que los poe en el corner*/
    align-items: center; /* alinea los elementos para que esten centardos y no se deformen*/
    padding: 1rem; /* el espacio de arrba y de abajo y de los laos*/
    .image {
        width: 20%;
        min-width: 200px;
        max-width: 250px;
    }
    .nav {
        .list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex; /* hay que ponerlos tambien en su listado especifico*/
            gap: 10px; 
        }
    }
}

.hidden {
    display: none;
    /*display: none; es para ocultar elementos */
}

@media screen and (width > 768px) {
    .hidden {
        display: block;
    }
}